html,
body {
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(79, 9, 241);
  color: #fff;
  padding-top: 60px;
  line-height: 2.7rem;
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
h2#title-profession {
  font-size: 30px;
}

.content-wrapper {
  margin: auto;
  padding:5px 15px;
  border: 4px white solid;
  border-radius: 10px;
  max-width: 1300px;
  width: 80%;
  text-align: center;
}
ul#technical-skills {
  list-style: none;
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 17px;
  margin: 0;
  padding: 0;
}
ul#technical-skills li {
  margin-left: 30px;
}
ul#technical-skills li:first-child {
  margin-left: 0;
}
#gilbert-description {
  font-size: 22px;
}
#contact-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 30px;
}
#contact-me {
  margin-right: 20px;
}
.portfolio-link {
  color: #c2a7ff;
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
}
#email-infor{
  font-size: 28px;
}

/* media queries  for smartphone max-width:500px*/
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 35px;
    text-align: center;
    padding: 10px 7px;
    display: flex;
    justify-content: center;
  }
  h2#title-profession {
    font-size: 25px;
  }

  body {
    display: flex;
    flex-direction: column;
    line-height: 3.7rem;
    border-radius: 7px;
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  .content-wrapper {
    border: none;
  }
  .increase-size {
    font-size: 30px;
    
  }
  #intro-email {
    display: none;
  }
  #email.infor {
    display: flex;
    flex-direction: column;
  }
  ul li {
    margin:0;
    padding: 0;
  }
}

/* media query for ipads * max-width 768p*/
@media only screen and (max-width: 768px) and (min-width: 501px) {
  body {
    font-size: 10px;
  }
  .content-wrapper {
    border: none;
  }
  #technical-skills {
    align-items: center;
    margin-left: 20px;
  }
}
/* media query for ipad pro laptops  max-width 1024px*/
@media only screen and (max-width: 1024px) and (min-width: 769px){
  body {
    font-size: 10px;
    margin:0;
    padding-top:0;
    display: block;
    line-height: 4.5rem;
    display:block;
  }
  .content-wrapper {
    border: none;
  }
  #technical-skills {
    align-items: center;
    margin-left: 20px;
  }
  ul li {
    margin-left: 30px;
    display: block;
  }
  .increase-size {
    font-size: 50px;
  }

  #intro-email {
    display: inline-block;
    margin-right: -10px;
  }
  #email.infor {
    display: inline-block;
  }
  #technical-skills {
    border: none;
  }

  #gilbert-description {
    line-height: 3.7rem;
    font-size: 20px;
  }
  #content-wrapper{
    margin: none;
  }
}